button{
  font-size: 32px;
  font-family: 'Spartan', sans-serif;

  margin: auto;

  height: 80px;
  width: 100%;

  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 512px) {
  div {
    font-size: 20px;
    height: 40px;
  }
}

