input{
  font-family: Overpass, SansSerif, serif;
  height: 50px;
  width: 130px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  transition-duration: 0.2s;

  color: black;
  background: transparent;
  border: 2px solid transparent;
}
