.switch{
  height: 22px;
  border-radius: 20px;
  border: 4px solid;
  display: flex;
  align-items: center;
  padding: 2px 5px;
  position: relative;
}

.ball{
  width: 20px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
}
