$desktop-height: 150px
$mobile-height: 120px

.Card
  background: #0466C8
  color: white
  margin-top: 10px
  height: $desktop-height
  display: flex
  flex-direction: row
  >*
    //border: 1px solid black
  .left
    img
      width: $desktop-height
      height: $desktop-height
  .right
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-evenly
    padding: 20px
.top
  letter-spacing: 2px
  h1
    color: white !important
    overflow: hidden
    word-break: break-word

.bottom
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

@media(max-width: 600px)
  .Card
    height: auto
    margin-top: 0
    border-bottom: 1px solid black
    .left
      img
        width: $mobile-height
        height: $mobile-height
    .right
      flex-direction: row
      align-items: center
      justify-content: space-between
      padding: 0 0 0 5px
    .bottom
      flex-direction: column
    .top
      justify-content: center
      h1
        font-size: 1.5em
