$desktop-height: 150px
$mobile-height: 120px
$tiny-mobile-height: 70px

.Card
  background: #0466C8
  color: white
  margin-top: 10px
  height: $desktop-height
  display: flex
  flex-direction: row
  >*
    //border: 1px solid black
  .left
    img
      width: $desktop-height
      height: $desktop-height
  .right
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 20px
.top
  letter-spacing: 2px
  h1
    color: white !important
    overflow: hidden
    word-break: break-word

.bottom
  display: flex
  flex-direction: row
  justify-content: flex-start

@media(max-width: 600px)
  .Card
    height: auto
    margin-top: 0
    border-bottom: 1px solid black
    .left
      img
        width: $mobile-height
        height: $mobile-height
    .right
      align-items: flex-start
      justify-content: space-evenly
      padding: 0 0 0 20px
      h1
        font-size: 1.5em

@media(max-width: 400px)
  .Card
    height: auto
    margin-top: 0
    border-bottom: 1px solid black
    .left
      img
        width: $tiny-mobile-height
        height: $tiny-mobile-height
    .bottom
      width: 100%
      justify-content: space-between