<div id="parent">
  <div id="responsive">
    <div id="desc">
      <div>
        <h1>Introducing an extensible editor</h1>
        <p>
          Blogr features an exceedingly intuitive interface which lets you focus
          on one thing: creating content. The editor supports management of
          multiple blogs and allows easy manipulation of embeds such as images,
          videos, and Markdown. Extensibility with plugins and themes provide
          easy way to add functionality or change the looks of a blog.
        </p>
      </div>
      <div>
        <h1>Robust content management</h1>
        <p>
          Flexible content management enables users to easily move through
          post. Increase the usability of your blog by adding customized
          categories, sections, format, or flow. With this functionality, you're in
          full control.
        </p>
      </div>
    </div>
    <img [hidden]="mobile" src="assets/images/illustration-editor-desktop.svg" alt="desktop" >
    <img [hidden]="!mobile" src="assets/images/illustration-editor-mobile.svg" alt="mobile">
  </div>
</div>
