<nav id="desktop">
  <div id="menu">
    <img src="assets/images/logo.svg" alt="logo">
    <div id="top-menu">
      <app-list-item [listElement]="listStructure.get('Product')"></app-list-item>
      <app-list-item [listElement]="listStructure.get('Company')"></app-list-item>
      <app-list-item [listElement]="listStructure.get('Connect')"></app-list-item>
    </div>
  </div>

  <div id="buttons">
    <app-red-button [text]="login"></app-red-button>
    <app-white-button [text]="signUp"></app-white-button>
  </div>
</nav>
