li::after{
  content: url("../../../../assets/images/icon-arrow-light.svg");
}

#desktop{
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

#top-menu{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

/*#top-menu > * {*/
/*  margin: 0 20px;*/
/*  font-family: Ubuntu;*/
/*  color: hsl(0, 0%, 100%);*/
/*}*/

app-red-button, app-white-button{
  margin-right: 20px;
}
