<div id="header" (click)="openClose($event, this.isClosed)">
  <h1 [hidden]="!dark" [ngClass]="!this.isClosed ? 'showColor' : ''">{{header}}</h1>
  <h1 [hidden]="dark" style="color:white;" [ngClass]="!this.isClosed ? 'showColor' : ''">{{header}}</h1>
  <div>
    <img [hidden]="!dark" src="assets/images/icon-arrow-dark.svg" alt="arrow" [ngClass]="!this.isClosed ? 'rotated' : ''">
    <img [hidden]="dark"  src="assets/images/icon-arrow-light.svg" alt="arrow" [ngClass]="!this.isClosed ? 'rotated' : ''">
  </div>
</div>
