@media(max-width: 1000px){
  #parent {
    background-position: center top;
    background-size: contain;
    height: auto;
    min-height: 400px;
  }

  #responsive {
    flex-direction: column;
    justify-content: center;
  }

  #responsive > div {
    margin: auto;
  }

  h1 {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin-bottom: 30px;
    text-align: center;
  }

  p {
    max-width: 500px;
    line-height: 30px;
    text-align: center;
  }

}

@media(max-width: 600px){
  img{
    width: 340px;
  }
}
