.container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: 10px;
}

.container > * {
  border-radius: 10px;
}

.container > *:hover{
  cursor: pointer;
}
