<div class="tab" *ngIf="data && !showLoader">
  <div id="ipAddress" class="info">
    <h4>ip address</h4>
    <h2>{{data.ip}}</h2>
  </div>
  <div id="location" class="info">
    <h4>location</h4>
    <h2 *ngIf="data.location.city && data.location.country">{{data.location.city}}, {{data.location.country}}</h2>
  </div>
  <div id="timezone" class="info">
    <h4>timezone</h4>
    <h2>{{data.location.timezone}}</h2>
  </div>
  <div id="isp" class="info">
    <h4>isp</h4>
    <h2>UTC {{data.isp}}</h2>
  </div>
</div>
<app-loader *ngIf="showLoader"></app-loader>
